<%- include('header') -%>
<!-- Mobile View Buttons -->

<section id="error">
  <div class="error-outer">
    <div class="error-inner">
      <div class="error-inner">
        <div class="error-img">
          <img src="/images/logo/launching-offers.png">
        </div>
        <p class="error-msg"><%= error_msg %></p>
      </div>
    </div>
</section>


<!-- Footer -->
<%- include('footer') -%>