<%- include('header') -%>

<div class="intern-details">
    <div class="certificate-details">
      <div class="intern-info">
        <p><strong>Name:</strong> Gaurav Pathak</p>
        <p><strong>Position:</strong> Backend Development Intern</p>
        <p><strong>Company Name:</strong> SAHII-Retail Apparel and Fashion</p>
        <p><strong>Internship Duration:</strong> June 2024 - August 2024</p>
        <p><strong>Certificate Number:</strong> CERT24INT001</p>
        <p><strong>Company Number:</strong> 1001284304</p>
        <p><strong>Company Address:</strong> Bg5/47-d Paschim Vihar, New Delhi,110063 IN</p>
        <p><strong>Founder:</strong> Pratham Gupta</p>
      </div>
    </div>
    <div class="additional-info">
      <p>This certificate verifies that the above-mentioned intern successfully completed the internship program at SAHII-Retail Apparel and Fashion, demonstrating exceptional skills and professionalism.</p>
    </div>
  </div>
  <style>
    body {margin: 12rem 2rem; padding: 0; font-family: 'Arial', sans-serif;}
    .intern-details {max-width: 35rem; margin: 2rem auto; padding: 1.25rem; border: 0.125rem solid #333; border-radius: 0.625rem; background-color: #f4f4f4; text-align: left; box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.1);}
    .certificate-details {display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 1.875rem;}
    .intern-info {width: 100%; margin: auto auto;}
    .intern-info p {margin: 0.625rem 0; font-size: 1rem; color: #333;}
    .intern-info p strong {color: #000;}
    .additional-info {margin-top: 1.25rem; font-size: 0.9375rem; color: #666;}
    .additional-info p {text-align: justify;}
    @media (min-width: 600px) {
      .certificate-details {flex-direction: row;}
      .intern-info {width: 70%;}
    }
  </style>

<%- include('footer') -%>